.aboutMe {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
  padding: 20px;
}

.personalDetails p {
  margin: 5px 0;
}

.professionalSnapshot,
.certifications,
.languageProficiency,
.contact {
  max-width: 300px;
  flex: 1 1 100%; 
  text-align: center; 
}

@media (min-width: 600px) {
  .aboutMe {
    flex-wrap: nowrap; 
    gap: 30px;
  }

  .professionalSnapshot,
  .certifications,
  .languageProficiency,
  .contact {
    flex: 1 1 30%;
    max-width: 250px;
  }
}

@media (min-width: 900px) {
  .professionalSnapshot,
  .certifications,
  .languageProficiency,
  .contact {
    max-width: 300px;
  }
}